* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #0f172a;
  width: 100%;
  height: 12vh;
}

.main1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiltle {
  width: 10%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vh;
  font-size: 2vh;
  color: #7A3DAB;
}

.UserPefil  {
  width: 20%;
  height: 88vh;
  background-color: red;
}

.ForYou {
  width: 55%;
  height: 88vh;
  background-color: green;
}

.Friends {
  width: 25%;
  height: 88vh;
  background-color: blue;
}
